<div class='container container-chatdisplay'>

  <div class='container container-roomlist'>
    <div class='roomlist'>
      <h2 class='roomlist-header'>Bloc Chat</h2>

      <div class="btn btn-primary btn-create-room" ng-click="home.createRoomModal()">
        New Room
      </div>

      <div class='room-names'>
        <div class='room-name' ng-repeat='room in home.rooms' ng-click="home.changeRoom()">
          {{ room.name }}
        </div>
      </div>

      {{ home.rooms.length }} rooms
    </div>
  </div>
