<div class="modal-style">
  <div class="modal-header">
    <h3 class="modal-title">Create New Chat Room</h3>
  </div>
  <div class="modal-body">
    <form>
      <label for="roomName">Enter a Room Name</label>
      <input required type="text" id="roomName" maxlength="20" ng-modal="modal.newRoomName">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modal.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="modal.addRoom()">Create Room</button>
  </div>
</div>
